<template>

  <div>
   

   <div v-if="!authenticated">
     <h1></h1>
   </div> 
    
  <div v-if="authenticated" >
   <div v-if="data.length > 0">
    <div class="row">
      <div class="cardStyle " >
        <q-card>
          <q-card-main>
             <CompleteLevelChart :chartData="taskCompleteData" :options="taskCompleteOption"></CompleteLevelChart>
          </q-card-main>
        </q-card>
      </div>
      <div class="cardStyle " >
          <q-card>
            <q-card-main>
              <CategoriesChart :chartData="categoryChartData" :options="categoryChartOption"></CategoriesChart>
            </q-card-main>
          </q-card>
      </div>
    </div >
  </div>
       <p></p><p></p>
    <div class="categoryCardStyle" >
      <q-card>
        <q-card-title>
          Categories
              <div slot="right" class="row items-center">
                <q-btn color="secondary" @click="openCategoryModal"round glossy fab icon="add_to_photos"  />
              </div>
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          <span v-if="categories.length == 0">Add a category before adding a to do task!</span>
          <span  v-for="category in categories">
            <q-chip  class="spanStyle" icon="library_books" color="secondary">
              {{category.categoryName}} &nbsp;
              <q-tooltip>{{category.categoryDescription}}</q-tooltip> 
              <q-btn round flat color="grey-12"  @click="openUpdateCategoryModal(category.categoryId,category.categoryName, category.categoryDescription)">
                <q-icon name="mode_edit" />
              </q-btn>
              <q-btn round flat color="negative" @click="deleteCategory(category.categoryId, category.categoryName)">
                <q-icon name="delete" />
              </q-btn>
            </q-chip> &nbsp;
          </span>
        </q-card-main>
      </q-card>
    </div>
    <div >
      <q-table
        :data="data"
        :columns="columns"
        row-key="name"
        color="secondary"
        title="To Do List"
        no-data-label="You have no tasks!"
        loading-label="We are fetching your tasks. Sit Tight!" 
        class="shadow-5"
      >
      <template slot="top-right" slot-scope="props">
        <q-btn color="primary" @click="openTaskModal"round glossy fab icon="playlist_add" />
      </template>
      <q-tr slot="body" slot-scope="props" :props="props">
        <q-td key="TaskName" :props="props">
            {{props.row.taskName}}
            <!-- <q-input :value="props.row.taskName" :data-id="props.row.taskId"  @change.native="updateTaskName($event, props.row.taskId)"></q-input> -->
        </q-td>
        <q-td key="TaskCategory" :props="props">
          {{props.row.taskCategory.categoryName}}
          <q-tooltip>{{props.row.taskCategory.categoryDescription}}</q-tooltip>
          
        </q-td>
        <q-td key="TaskPriority" :props="props" >
          <div v-show="props.row.taskPriority == 'Low'">
             <q-chip icon="priority_high" detail color="info">
                {{props.row.taskPriority}}
              </q-chip>
          </div>
          <div v-show="props.row.taskPriority == 'Medium'">
             <q-chip icon="priority_high" detail color="warning">
                {{props.row.taskPriority}}
              </q-chip>
          </div>
          <div v-show="props.row.taskPriority == 'High'">
             <q-chip icon="priority_high" detail color="negative">
                {{props.row.taskPriority}}
              </q-chip>
          </div>
        </q-td>
        <q-td key="TaskStatus" :props="props">
          <q-toggle
            v-model="props.row.taskStatus" 
            unchecked-icon="clear"
            checked-icon="done"
            @input="completeTask(props.row.taskName, props.row.taskId, props.row.taskStatus)"
          />
        </q-td>
        <q-td>
          <q-btn round color="negative" flat :props="props" @click="deleteRow(props.row.taskName,props.row.taskId)">
            <q-icon name="delete" />
          </q-btn>
          <q-btn round color="primary" flat :props="props" @click="openEditTask(props.row.taskId, props.row.taskName, props.row.taskPriority, props.row.taskCategory, props.row.taskStatus)">
            <q-icon name="mode_edit" />
          </q-btn>
        </q-td>
      </q-tr>
      </q-table>
    </div>
   
    <!-- Add Task Modal -->
    <div>
      <q-modal v-model="addTaskModal" no-esc-dismiss no-backdrop-dismiss :content-css="{padding: '50px', minWidth: '40vw'}" >
        <div>
          <div>
          <h4 class="text-weight-regular">Add Task</h4>
          </div>
          <div>
          <q-input primary v-model="enteredTaskName" float-label="Name"/>
          </div>
          </br>
          <div>
              <q-select  primary float-label="Priority"
              v-model="enteredPriorityOption"
              :options="priorityOptions"/>
          </div>
          </br>
          <div>
              <q-select  primary float-label="Category"
              v-model="enteredTaskCategory"
              :options="categoryOptions"/>
          </div>
          </br>
          <div class="row">
            <div class="col button text-right">
              <q-btn color="red" v-close-overlay  label="Close" @click="closeTaskModal()"/>
            </div>
            <div class="col button text-left">
              <q-btn color="green"  v-close-overlay label="Add" @click="addTask()" />   
             </div>
          </div>
        </div>     
      </q-modal>
    </div>

    <!-- Edit Task Modal -->
     <div>
      <q-modal v-model="editTaskModal" no-esc-dismiss no-backdrop-dismiss :content-css="{padding: '50px', minWidth: '40vw'}" >
        <div>
          <div>
               <h4 class="text-weight-regular">Edit Task</h4>
                </div>
               <div>
               <q-input primary v-model="editTaskDetails.editTaskName" float-label="Name"/>
                </div>
              </br>
    
        <div>
        <q-select  primary float-label="Priority"
            v-model="editTaskDetails.editTaskPriority"
            :options="priorityOptions"/>
           </div>
           </br>
        <div>
         <q-select  primary float-label="Category"
            v-model="editTaskDetails.editTaskCategory"
            :options="categoryOptions"/>
           </div>
        <div class="row">
          <div class="col button text-right">
              <q-btn color="red" v-close-overlay  label="Close" @click="closeEditTaskModal()"/>
          </div>
          <div class="col button text-left">
              <q-btn color="green"  v-close-overlay label="Add" @click="editTask()" /> 
          </div>
        </div>
        </div>       
      </q-modal>
    </div>


    <!-- Add Category Modal -->
     <div>
      <q-modal v-model="addCategoryModal" no-esc-dismiss no-backdrop-dismiss :content-css="{padding: '50px', minWidth: '40vw'}" >
        <div>
          <div>
             <h4 class="text-weight-regular">Add Category</h4>
          </div>
          <div>
            <q-input primary v-model="enteredCategoryName" float-label="Name"/> 
          </div>
          </br>
          <div>
            <q-input primary v-model="enteredCategoryDesc" float-label="Description"/>
          </div>
          <div class="row">
            <div class="col button text-right">
              <q-btn color="red" v-close-overlay  label="Close" @click="closeCategoryModal()"/>
            </div>
            <div class="col button text-left">
              <q-btn color="green"  v-close-overlay label="Add" @click="addCategory()" />   
            </div>   
          </div>

        </div>
      </q-modal>
    </div>

      <!-- Edit Category Modal -->
     <div class="row">
      <q-modal v-model="editCategoryModal" no-esc-dismiss no-backdrop-dismiss :content-css="{padding: '50px', minWidth: '40vw'}" >
        <div>
          <div>
          <h4 class="text-weight-regular">Edit Category</h4>
           </div>
          <div>
          <q-input primary v-model="editCategoryDetails.editCategoryName" float-label="Name"/>
           </div>
         </br>
          <div>
          <q-input primary v-model="editCategoryDetails.editCategoryDesc" float-label="Description"/>
           </div>
          <div class="row">
            <div  class="col button text-right">
              <q-btn color="red" v-close-overlay  label="Close" @click="closeEditCategoryModal()"/>
               </div>
            <div class="col button text-left">
              <q-btn color="green"  v-close-overlay label="Edit" @click="editCategory()" />   
               </div>
                </div>
        </div>     
      </q-modal>
    </div>

  </div>
</div>
</template>

<style>
</style>

<script>
import {apiTaskCall} from "../api"
import {apiCategoryCall} from "../api"
import CompleteLevelChart from "../charts/completeLevelChart"
import CategoriesChart from "../charts/categoriesChart"
import {color} from "../assets/colors"
export default {
  components: {CompleteLevelChart, CategoriesChart},
  name: 'Home',
  props: ['auth', 'authenticated'],
  data() {
    return {
      data : [],
      taskCompleteData : {  labels: ['Complete','Incomplete'],    
                            datasets: [{ data: [0, 0], backgroundColor: ['#16bf27', '#e8280b']}]
                          },
      taskCompleteOption:{
            maintainAspectRatio:false,
            responsive:true,
            title: {
                display: true,
                position: 'bottom',
                text: 'Task Completion Analysis'
            }
      },
      categoryChartData : { labels: [], 
                            datasets: [{ data:[], backgroundColor: []}]
      },
      categoryChartOption: {
            maintainAspectRatio:false,
            responsive:true,
            title: {
                display: true,
                position: 'bottom',
                text: 'Category Analysis'
            }
      },
      categories: [],
      categoryOptions: [],
      priorityOptions: [ {label:"Low", value: "Low"}, {label:"Medium", value: "Medium"}, {label:"High", value: "High"}],
      categoriesData : {  labels: [],    
                    datasets: [{ data: [0, 0], backgroundColor: ['#16bf27', '#e8280b']}]
                  },     
      enteredTaskName: "",
      enteredPriorityOption: "",
      enteredTaskCategory: "",
      enteredCategoryName: "",
      enteredCategoryDesc: "",
      editTaskDetails: {editTaskName: "", editTaskCategory: "", editTaskPriority: "", editTaskId: "", editTaskStatus: false},
      editCategoryDetails : {editCategoryId: "" ,editCategoryName: "", editCategoryDesc: ""},
      editCategoryModal : false,
      addTaskModal: false,
      addCategoryModal: false,
      editTaskModal: false,
      columns: [
        {
          name: 'TaskName',
          required: true,
          label: 'Task',
          filter: true,
          align: 'left',
          sortable: false
        },
        {
          name: 'TaskCategory',
          required: true,
          label: 'Category',
          align: 'left',
          field: row => row.taskCategory.categoryName,
          sortable: true
        },
        {
          name: 'TaskPriority',
          required: true,
          label: 'Priority',
          align: 'center',
          field: 'taskPriority',
          sortable: true
        },
        {
          name: 'TaskStatus',
          required: true,
          label: 'Complete',
          align: 'center',
          field: 'taskStatus',
          sortable: false
        }
      ],
      userId: null,
      name: "Sri"
      
    }
  },
  methods: {
    getTasksApiCall(){
      var url = apiTaskCall();
      console.log("Inside get tasks api call");
      var self = this;
      this.$axios.get(url+"/" + this.userId + "/tasks")
      .then(function(response){
        self.data=response.data;
        console.log(self.data);
        self.populateCategories();
        console.log("final tasks list is");
        console.log(self.data);
        self.getTaskCompletionDetails();
      })
      .catch(function(error){
        console.log(error);
      })      
    },
    addTask(){
      var url = apiTaskCall();
      var reqBody = {
        taskName : this.enteredTaskName,
        taskPriority: this.enteredPriorityOption,
        taskCategory:  this.enteredTaskCategory,
        taskStatus: 0
      }
      console.log(reqBody);
      var self = this;
      this.$axios.post(url+"/" + this.userId + "/tasks", reqBody)
      .then(function(response){
        console.log(self.data);
        self.$q.notify({
            type: 'info',
            icon: 'done',
            message: 'Added task  ' + self.enteredTaskName + '!' ,
            position: 'top',
          })  
        self.getTasksApiCall();
        self.enteredTaskName = "";
        self.enteredPriorityOption = "";
        self.enteredTaskCategory = "";
      })
      .catch(function(error){
        console.log(error);
      })

     

      console.log("Task name is: " + this.enteredTaskName);
      console.log("Task priority is: " + this.enteredPriorityOption);
      console.log("Task category is: " + this.enteredTaskCategory);

    },
    deleteRow (taskName,taskId) {

      var url = apiTaskCall();
     
      var self = this;
      this.$axios.delete(url+"/" + this.userId + "/tasks/"+taskId)
      .then(function(response){
        console.log(self.data);
        self.$q.notify({
            type: 'negative',
            icon: 'delete',
            message: 'Deleted ' + taskName ,
            position: 'top',
          })  
        self.getTasksApiCall();
      })
      .catch(function(error){
        console.log(error);
      })
        
      },
      deleteCategory(categoryId, categoryName) {
        var deleteStatus = true;
        for (var i = 0; i < this.data.length; i++)
        {
          if (this.data[i].taskCategory.categoryId == categoryId){
            deleteStatus = false;
          }
        }

        if (deleteStatus == false) 
        {
          this.$q.notify({
                  type: 'warning',
                  icon: 'warning',
                  message: 'Unable to delete ' + categoryName + '! You may have task(s) in this category!' ,
                  position: 'top',
                })
        }
        else 
        {
          var url = apiCategoryCall();
          var self = this;
          this.$axios.delete(url+"/" + this.userId + "/categories/"+categoryId)
          .then(function(response){
            console.log(self.data);
            self.$q.notify({
                type: 'negative',
                icon: 'delete',
                message: 'Deleted ' + categoryName ,
                position: 'top',
              })  
            self.populateCategories();
          })
          .catch(function(error){
             
            console.log(error);
          })
        }
      },
     completeTask (taskName,taskId,tStatus) {
      console.log("Into Complete task function");
      console.log("Task Id is: " + taskId);
      console.log("Task status is: " + tStatus);

      var url = apiTaskCall();
      var reqBody = {
        taskStatus : tStatus
      }
      var self = this;
      this.$axios.patch(url+"/" + this.userId + "/tasks/"+taskId, reqBody)
      .then(function(response){
        console.log(self.data);
        self.getTasksApiCall();
        if (tStatus == true){
            self.$q.notify({
            type: 'positive',
            icon: 'done',
            message: `Well Done! You have completed `+ taskName + '!' ,
            position: 'top',
          })  
        }
      })
      .catch(function(error){
        console.log(error);
      })
        
     },
     populateCategories()
     {
        console.log("Into populateCategories function");
        var label = [];
        var datas = [];
        var backgroudColours = [];
        var colors = color();
        var url = apiCategoryCall();
         var self = this;
          this.$axios.get(url+"/" + this.userId + "/categories")
          .then(function(response){
            self.categories=response.data;

            for (var i=0; i < self.data.length; i++)
            {
              console.log("inside tasks loop");
              var categoryLength = self.categories.length;
              console.log("category length is " + categoryLength);
              console.log(self.categories);
              for (var j=0; j < self.categories.length; j++)
              {
                console.log("inside categories loop");
                if(self.data[i].taskCategory == self.categories[j].categoryId)
                {
                  
                  var object = {
                    categoryName : self.categories[j].categoryName,
                    categoryDescription : self.categories[j].categoryDescription,
                    categoryId: self.categories[j].categoryId
                  }
                  self.data[i].taskCategory = object;
                } 
              }
              
            }


            for (var i = 0; i < self.categories.length; i++)
            {
              label.push(self.categories[i].categoryName);
              var count = 0;
              for (var j= 0; j < self.data.length ; j++)
              {
                  if (self.data[j].taskCategory.categoryId == self.categories[i].categoryId)
                  { 
                      count = count + 1;   
                  }
              }
              datas.push(count);
            }

            for (var k=0; k < label.length; k++ ){
              backgroudColours.push(colors[k]); 
            }

            
            self.categoryChartData = { labels: label, 
                            datasets: [{ data: datas, backgroundColor: backgroudColours}]
                          }
            console.log(self.categoryChartData);
            console.log("Length of data sets data is " + self.categoryChartData.datasets[0].data.length);
            console.log("Categories data is " + self.categories);
            console.log("Categories length is " + self.categories.length);
            console.log(self.categories);
          })
          .catch(function(error){
            console.log(error);
          })

     },
     populateDropdownCategories(){
      this.categoryOptions = [];
      for (var i=0; i<this.categories.length; i++)
      {
        var categoryN = this.categories[i].categoryName;
        var categoryId = this.categories[i].categoryId;
        var category = {
          label : categoryN,
          value : categoryId
        }

        this.categoryOptions.push(category);

      }
     },
     openTaskModal()
     { 

      this.populateDropdownCategories();
      if(this.categoryOptions.length == 0)
      {
         this.$q.notify({
                  type: 'warning',
                  icon: 'warning',
                  message: 'Please add a category before adding a task!' ,
                  position: 'top',
                })
      }
      else 
      {
        this.addTaskModal = true;
      }
      
     },
     closeTaskModal()
     {
        this.enteredTaskName = "";
        this.enteredPriorityOption = "";
        this.enteredTaskCategory = "";
        this.addTaskModal = false;
     },
     addCategory()
     {

      var url = apiCategoryCall();
      var reqBody = {
        categoryName : this.enteredCategoryName,
        categoryDescription: this.enteredCategoryDesc
      }
      console.log(reqBody);
      var self = this;
      this.$axios.post(url+"/" + this.userId + "/categories", reqBody)
      .then(function(response){
        console.log(self.data);
        self.$q.notify({
            type: 'info',
            icon: 'done',
            message: 'Added Category  ' + self.enteredCategoryName + '!' ,
            position: 'top',
          })  
        self.populateCategories();
        self.enteredCategoryName = "";
        self.enteredCategoryDesc = "";
      })
      .catch(function(error){
        console.log(error);
      })
      this.addCategoryModal = false;
     },
     closeCategoryModal(){
      this.enteredCategoryName = "";
      this.enteredCategoryDesc = "";
      this.addCategoryModal = false;
     },
     openCategoryModal(){
      this.addCategoryModal = true;
     },
     getTaskCompletionDetails()
     {

        var complete = 0;
        var incomplete = 0;

        for(var i=0; i<this.data.length; i++)
        {
          if (this.data[i].taskStatus == true)
          {
            complete = complete + 1;
          }
          else
          {
            incomplete = incomplete + 1;
          }
        }

        this.taskCompleteData = {  labels: ['Complete','Incomplete'],    
                            datasets: [{ data: [complete, incomplete], backgroundColor: ['#16bf27', '#e8280b']}]
                          },

        console.log("complete " + this.taskCompleteData.datasets[0].data[0]);
        console.log("Incomplete " + this.taskCompleteData.datasets[0].data[1]);

        console.log(this.taskCompleteData);
     },
     updateTaskName(event, taskId)
     {
      var taskName = event.target.value;
      console.log("Reached update task name function");
      console.log(taskName);
      console.log(taskId);
     },
     openEditTask(taskId, taskName, taskPriority, taskCategory, taskStatus)
     {
      this.populateDropdownCategories();

      this.editTaskDetails.editTaskStatus = taskStatus;
      this.editTaskDetails.editTaskId = taskId;
      this.editTaskDetails.editTaskName = taskName;
      this.editTaskDetails.editTaskCategory = taskCategory.categoryId;
      this.editTaskDetails.editTaskPriority = taskPriority;
      this.editTaskModal = true;

     },
     closeEditTaskModal()
     {
      this.editTaskDetails.editTaskName = "";
      this.editTaskDetails.editTaskCategory = "";
      this.editTaskDetails.editTaskPriority = "";
      this.editTaskDetails.editTaskId = "";
      this.editTaskDetails.editTaskStatus = false;
      this.editTaskModal = false;

     },
     editTask(){
      var url = apiTaskCall();
      console.log( this.editTaskDetails.editTaskCategory);
      var reqBody = {
        taskName: this.editTaskDetails.editTaskName,
        taskPriority: this.editTaskDetails.editTaskPriority,
        taskCategory:  this.editTaskDetails.editTaskCategory,
        taskStatus : this.editTaskDetails.editTaskStatus,
      }
      var self = this;
      this.$axios.patch(url+"/" + this.userId + "/tasks/"+ this.editTaskDetails.editTaskId, reqBody)
      .then(function(response){
          self.$q.notify({
            type: 'info',
            icon: 'done',
            message: 'Updated   ' + self.editTaskDetails.editTaskName + '!' ,
            position: 'top',
          })  
         self.getTasksApiCall();
      })
      .catch(function(error){
        console.log(error);
      })  
     },
     openUpdateCategoryModal(catId, catName, catDes) {

      this.editCategoryDetails.editCategoryId = catId;
      this.editCategoryDetails.editCategoryName = catName;
      this.editCategoryDetails.editCategoryDesc = catDes;
      this.editCategoryModal = true;
     },
     closeEditCategoryModal() 
     {
      this.editCategoryDetails.editCategoryId = "";
      this.editCategoryDetails.editCategoryName = "";
      this.editCategoryDetails.editCategoryDesc = "";
      this.editCategoryModal = false;
     },
     editCategory() 
     {
      var url = apiCategoryCall();
      var reqBody = {
        categoryName: this.editCategoryDetails.editCategoryName,
        categoryDescription:  this.editCategoryDetails.editCategoryDesc
      }
      var self = this;
      this.$axios.patch(url+"/" + this.userId + "/categories/"+ this.editCategoryDetails.editCategoryId, reqBody)
      .then(function(response){
          self.$q.notify({
            type: 'info',
            icon: 'done',
            message: 'Updated   ' + self.editCategoryDetails.editCategoryName + '!' ,
            position: 'top',
          })  
         self.getTasksApiCall();
      })
      .catch(function(error){
        console.log(error);
      })  

     },
     loginButton()
     {
      console.log("Into login function");
      //this.auth.login();
     }
    },
    beforeMount: function(){
      console.log("Hi - Before Mount Function");
      console.log("auth give us " + this.auth);
      console.log("authentication give us " + this.authentication)
      if (this.authenticated && (localStorage.getItem('user_id') != null))
      {
        this.userId = localStorage.getItem('user_id');
        this.getTasksApiCall();
      }
    }
}

</script>
<style type="text/css">

  .cardStyle {
    padding-top: 2em;
    padding-right: 2em;
  }
  .categoryCardStyle {
    padding-bottom: 1em;
  }
  .spanStyle {
    margin: 0.2em;
  }
  .button {
    padding-top: 1.5em;
    padding-right: 0.5em;
    padding-left: 0.5em; 
    //border-style: solid;
    border-color: red;
  }

</style>